<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Designer</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="username" type="text" placeholder="username" />
        <button id="register">register</button>
      </form>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./script.js"></script>
</body>

</html>