


.topnav{
  overflow: hidden;
  display:none;
  width: 100%;}


.topnav a {
  float: left;
  display: block;
  color: #9abc31;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right: solid 1px #9abc31;
  border-top: solid 1px #9abc31;
  border-bottom: solid 1px #9abc31;}
  

#pricing-link{
  border-right: solid 1px #9abc31;}
  

#free-quotek{
  display:none!important;}

@media only screen and (min-width: 600px){
  .topnav{
    display: block;}}
  


@media only screen and (min-width: 700px){
  #free-quotek{
    display: inline-block!important;}
      
  
   #pricing-link{ 
   border-right-color:#9abc31!important;
   border-right-style: solid!important;
   border-right-width: 1px!important;}

  }