/*
.debug{
	border-width: 1px;
	border-color: blue;
	border-style: solid;}*/

*{
	z-index: 2;}


html{
	font-size: 1.75vw;}


body{
	margin: 0px;
	font-size: 16px!important;}


h2{
    font-size: 24px;}


h3{
	font-size: 18px;}


.removal,.quote-teaser h3:before,.quote-teaser h3:after{
    display: none!important;}
	

.quote-teaser h3{
    background-color:none;
    right: 12px;}
    

.text-align-center .btn{
    font-size: 16px;
    border: none;
    color: #9ABC31;}


.site-logo{
	max-width: 230px;}


.site-tagline{
    position: absolute;
	left: 85%;
	z-index: 0!important;
	display: none;}


/*Company name header links*/
.site-logo a{
    position: absolute;
    left: -6%;
    bottom:;
    font-size: 4rem!important;
    z-index:0;
    display: block;
    color: white; 
    width: 60vw;
    max-width: 220px;}


.site-logo a:hover{
	color: white;}


.grid-item-inner a[href="services.php"]{
	font-size:19px;
	color: #9ABC31;
	font-weight: 700;}

.service-grid-item a.more{
	font-weight: 500;
	font-size: 14px;}


.feature-block h5,.connected-blocks h5{
	font-size:14px;}


/*Make the Quick Links at the bottom green*/
.footer_widget nav ul li a{
	color: #9ABC31!important;}


/*remove all breadcrumbs*/
.footer_widget div.carousel-wrapper{
	display: none!important;}


.col-md-4 .footer_widget h4.widgettitle{
	display: none!important;}


#company-name{
	font-size: 24px;}


#Read-more-about{
    color: #9ABC31;
    font-size: 16px;}


#contact-info{
	display: none!important;}


#twitter-header{
	display: none;}


#quoteform .row{
    flex-direction: column;}


#quoteform .row .col-md-3{
    max-width: none;}


#quoteform .row input, #quoteform .row select{
    font-size: 12px;
    width:67vw;
    max-width: 330px;}


#site-logo-parent,.site-logo{
	font-size: 16px;
    height:  3em;}



	
   

	



    
	
	



/*Readjust the position of the header*/
@media only screen and (min-width: 285px){
    .site-logo a{
		left:-2%;}
}


    
                                         
/*cap the size of the Header's font*/
@media only screen and (min-width: 367px){
	 .site-logo a{
	 	font-size: 25.69px!important;}
}

/*header needs to be repositioned*/
@media only screen and (min-width: 576px){
	.site-logo a{
		position: fixed;
		position: absolute;}

	    	
    .col-md-6{
        box-sizing: content-box;
        max-width: none;
        flex-basis: 100%;}
#subheader-index a{white-space: nowrap;}

	    	

	    
}
/*Custom Tablet Breakpoint
@media only screen and (min-width: 600px){
	.site-header-right{
		float:left;
		width:100%;
		display:none
	}
}*/



/*the header container's height needs to be increased*/
@media only screen and (min-width: 768px){
    .site-logo {
    	height: 48px;
    }
}


@media only screen and (min-width: 992px){
	.quote-teaser-title{
		width: 250px;
		margin-right: 0px;}
}


.debugguer{background-color: yellow;}



